*log*
*Local Storage*
*cache*
*Cache*
*Cookie*
*cookie*
Google Play Music Desktop Player/json_store
Google Play Music Desktop Player/File System/*
*storage*
*ldb*
*State*
*state*
*Sync*
*Top Sites*
*Web Data*
*Visited Links*
*LOG*
*Local State*
*LOCK*
chromium
discord/modules.log
.netrwhist
dconf
ranger/history
ranger/bookmarks
*.un~*
xfce4/xfconf/xfce-perchannel-xml/thunar.xml
Code/Backups
enchant
discord
Thunar/accels.scm
Google Play Music Desktop Player
expressvpn
gedit
Code/User/workspaceStorage
dolphin-emu
citra-emu
gnupg
vlc
Signal
chrome-remote-desktop
deluge
gpick
jeex
obs-studio
pavucontrol.ini
teamviewer
BetterDiscord
Code/languagepacks.json
Code/machineid
autostart

QtProject.conf
Thunar/uca.xml
configstore
pulse
Trolltech.conf
menus/
Code/User/workspace*
vim/plugins
spotify
libreoffice
systemd/*
goa*/*
makepkg.gnupg/*
openwmail/*
wireshark/*
Keybase/*
keybase/*
discordcanary/*
evolution/*
Bitwarden*
Google Chrome
Electron
MonoGame
Yubico
*.orig
monitors.xml
gnome-control-center
gconf
onedrive
touchegg
