*log*
*Local Storage*
*cache*
*Cache*
*Cookie*
*cookie*
Google Play Music Desktop Player/json_store
Google Play Music Desktop Player/File System/*
*storage*
*ldb*
*State*
*state*
*Sync*
*Top Sites*
*Web Data*
*Visited Links*
*LOG*
*Local State*
*LOCK*
chromium
discord/modules.log
.netrwhist
dconf
ranger/history
ranger/bookmarks
*.un~*
xfce4/xfconf/xfce-perchannel-xml/thunar.xml
Code/Backups
enchant
discord
Thunar/accels.scm
Google Play Music Desktop Player
expressvpn
gedit
Code/User/workspaceStorage
dolphin-emu
citra-emu
vlc
Signal
chrome-remote-desktop
deluge
gpick
jeex
obs-studio
pavucontrol.ini
teamviewer
BetterDiscord
Code/languagepacks.json
Code/machineid
autostart

QtProject.conf
Thunar/uca.xml
configstore
pulse
Trolltech.conf
menus/
Code/User/workspace*
/vim/plugins
spotify
libreoffice
systemd/*
goa*/*
makepkg.gnupg/*
openwmail/*
wireshark/*
Keybase/*
keybase/*
discordcanary/*
evolution/*
Bitwarden*
Google Chrome
Electron
MonoGame
Yubico
*.orig
monitors.xml
gnome-control-center
gconf
onedrive
touchegg
k*
plasma*
systemsettingsrc
startupconfig
startupconfigfiles
startupconfigkeys
insect-history
ibus
gtk-3.0
gtk-4.0
gtkrc
gtkrc-2.0
bless
coc/extensions/db.json
coc/db.json
coc/extensions/node_modules
coc/extensions/yarn.lock
coc/history.json
coc/lists
coc/memos.json
cura
filezilla
gnome-boxes
akregatorrc
Unknown Organization
Minecraft Linux Launcher
baloofilerc
monitors.xml~
nautilus
nvim/plugged
nvim/autoload/plug.vim
gwakeonlan
freerdp
fontforge
NuGet
VirtualBox
MusicBrainz
Minecraft Linux Launcher
Kid3
GIMP
Code - OSS
google-musicmanager
monitors.xml~
remmina
PCSX2
nordvpn
gtk-2.0
cef_user_data
asunder
anjuta
aacs
google-chrome
github.com
mimeapps.list
SEGGER/
coc/
nvim/autoload/plug.vim
nvim/autoload/plug.vim.old
Chiaki
Brave-Browser
ppsspp
rpcs3
gnupg
Riot
Postman
calibre
d-feet
p3x-onenote
google-chrome-beta
google-chrome-unstable
gsconnect
google-music-scripts
mpv/watch_later
lsp-plugins/
WorkFlowy/
lutris/
bunkus.org/mkvtoolnix-gui/
session
QtProject
QtProject.conf
rclone
sigrok
playstationdiscord
Google
trashrc
jgit
Ultimaker B.V.
pipewire-media-session
baloofileinformationrc
libaccounts-glib
emojione-picker
eog
KDE/UserFeedback.conf
azote
Thunar
Authy Desktop
tutturu
GNU Radio
cordless
nvim/spell/en.utf-8.add.spl
tmux/plugins/
tmux/tpm/
dolphinrc
scripts/volume/target
scripts/recent/target
ibus-anthy
inkscape
Trolltech.conf.bak
gwenviewrc
neofetch
PlasmaUserFeedback
bluedevilglobalrc
spectaclerc
miniterm
CrossCode
KDE/Sonnet.conf
KDE/UserFeedback.conf
unity3d
inspectrum
akonadi*
MultiMC5rc
emaildefaults
Designerrc
SideQuest
device_automounter_kcmrc
discoverrc
drkonqirc
emailidentities
filelightrc
filetypesrc
oktetarc
oktetastructuresrc
partitionmanagerrc
powermanagementprofilesrc
specialmailcollectionsrc
systemmonitorrc
xdg-desktop-portal-kderc
okularpartrc
okularrc
.DS_Store
csharp.history
syncplayrc
syncplay.ini
obsidian
webengineurlinterceptoradblockrc
pimpluginsrc
eventviewsrc
qBittorrent
Cider
