/*
!/age
!/alacritty
!/bash
!/bin
!/environment.d
!/gh
!/git
!/gnupg
!/grc
!/host
!/htop
!/iterm2
!/jj
!/misc
!/mpv
/mpv/history.log
!/nix
# ~/.config/nix/nix.conf is entirely per-machine.
/nix/nix.conf
!/nixos
!/nvim
# nvim-projectconfig stuff is per-machine
/nvim/projects/
# Ignore the 'compiled' spell language file.
/nvim/spell/*.spl
!/pgp
!/scripts
!/tmux
!/userscripts
!/vim
!/wezterm
!/X11
!/xonsh
!/yt-dlp
!/zsh

*.bak
__pycache__
