@import '../css/normalize.css';

body {
    margin: 30px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #F9F9F9;
}

h1 {
    vertical-align: top;
    font-weight: 900;
    font-size: 32px;
}

h1 > img {
    padding: 0 10px 0 0;
    position: relative;
    top: 3px;
}

section {
    padding: 5px 0 0 0;
}

h3 {
    text-transform: uppercase;
    font-size: 16px;
}

p {
    text-indent: 0;
    font-weight: 400;
}
