/*Common and bootstrap elements */
body, h1, h2, h3, h4{ margin:0px; }
a{text-decoration: none;cursor:pointer;color:#333;outline:none !important;}
body{
	background: #fff;
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    font-family: Lato,sans-serif;
    font-size: 13px;
    line-height: 16px;
    width:460px;
}
.body-header h3{
font-size: 1.5em;
    font-weight: 500;
    margin: 0;
    line-height: 1.1;

}
.form-group {
    margin-bottom: 15px;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.form-control {
    display: block;
    width: 90%;
    height: 26px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.result{margin: 10px 0px;}
.error{color:#bb2a2a}
.btn{
	display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.btn-sm{
	padding: .25rem .5rem;
    font-size: .875rem;
    border-radius: .2rem;
}
.btn-primary{
	color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
color: #fff;
    background-color: #025aa5;
    border-color: #01549b;
    outline:none !important;
}
.btn-success {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}
.btn-success:hover,.btn-success:active, .btn-success:focus {
    color: #fff;
    background-color: #449d44;
    border-color: #419641;
}
button{
	-webkit-appearance: button;
}
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.label-default {
    background-color: #777;
}
/*Start of tooltip*/
.tooltip {
  position: absolute;
  z-index: 1070;
  display: block;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  filter: alpha(opacity=0);
  opacity: 0;

  line-break: auto;
}
.tooltip.in {
  filter: alpha(opacity=90);
  opacity: .9;
}
.tooltip.top {
  padding: 5px 0;
  margin-top: -3px;
}
.tooltip.right {
  padding: 0 5px;
  margin-left: 3px;
}
.tooltip.bottom {
  padding: 5px 0;
  margin-top: 3px;
}
.tooltip.left {
  padding: 0 5px;
  margin-left: -3px;
}
.tooltip-inner {
  max-width: 200px;
  padding: 3px 8px;
  color: #fff;
  text-align: center;
  background-color: #6f6f6f;
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #6f6f6f;
}
.tooltip.top-left .tooltip-arrow {
  right: 5px;
  bottom: 0;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #6f6f6f;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  left: 5px;
  margin-bottom: -5px;
  border-width: 5px 5px 0;
  border-top-color: #6f6f6f;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #6f6f6f;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #6f6f6f;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #6f6f6f;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  right: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #6f6f6f;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  left: 5px;
  margin-top: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #6f6f6f;
}
.popover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: none;
  max-width: 276px;
  padding: 1px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  word-wrap: normal;
  white-space: normal;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, .2);

  line-break: auto;
}
.popover.top {
  margin-top: -10px;
}
.popover.right {
  margin-left: 10px;
}
.popover.bottom {
  margin-top: 10px;
}
.popover.left {
  margin-left: -10px;
}
.popover-title {
  padding: 8px 14px;
  margin: 0;
  font-size: 14px;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-radius: 5px 5px 0 0;
}
.popover-content {
  padding: 9px 14px;
}
.popover > .arrow,
.popover > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.popover > .arrow {
  border-width: 11px;
}
.popover > .arrow:after {
  content: "";
  border-width: 10px;
}
.popover.top > .arrow {
  bottom: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-color: #999;
  border-top-color: rgba(0, 0, 0, .25);
  border-bottom-width: 0;
}
.popover.top > .arrow:after {
  bottom: 1px;
  margin-left: -10px;
  content: " ";
  border-top-color: #fff;
  border-bottom-width: 0;
}
.popover.right > .arrow {
  top: 50%;
  left: -11px;
  margin-top: -11px;
  border-right-color: #999;
  border-right-color: rgba(0, 0, 0, .25);
  border-left-width: 0;
}
.popover.right > .arrow:after {
  bottom: -10px;
  left: 1px;
  content: " ";
  border-right-color: #fff;
  border-left-width: 0;
}
.popover.bottom > .arrow {
  top: -11px;
  left: 50%;
  margin-left: -11px;
  border-top-width: 0;
  border-bottom-color: #999;
  border-bottom-color: rgba(0, 0, 0, .25);
}
.popover.bottom > .arrow:after {
  top: 1px;
  margin-left: -10px;
  content: " ";
  border-top-width: 0;
  border-bottom-color: #fff;
}
.popover.left > .arrow {
  top: 50%;
  right: -11px;
  margin-top: -11px;
  border-right-width: 0;
  border-left-color: #999;
  border-left-color: rgba(0, 0, 0, .25);
}
.popover.left > .arrow:after {
  right: 1px;
  bottom: -10px;
  content: " ";
  border-right-width: 0;
  border-left-color: #fff;
}
.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: .6s ease-in-out left;
       -o-transition: .6s ease-in-out left;
          transition: .6s ease-in-out left;
}
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  line-height: 1;
}

/*End of tooltip*/
.hide{display:none !important;}
.show{display: block !important;}
.inline-block{display: inline-block;}
.header-btn{display:none;}
.header-btn.active{display:inline-block;}
.header-btn img{position:relative;top: 6px;max-width: 25px;	cursor: pointer;}
.btn-already-following, .btn-back{max-width: 22px !important;top:5px !important;}
.container{display: none;height: 100% !important;width: 100%;}
.container.active{display: table;}
.container.block.active{display:block;}
.break-word{word-break: break-word;}
form{padding:20px;}
.header{height: 40px;padding: 20px;background: #dd6a58;}
.header h2{margin: 0px;font-size: 20px;line-height: 2;color: #fff;}
.margin-left-20{margin-left:20px;}
.margin-left-10{margin-left: 10px;}
.margin-left-1{margin-left:1px;}
#tech-info{padding:20px;display: table-row;}
.image-loader{
	position: absolute;
    left: 88%;
    width: 26px;
    top: 12px;
}
.capitalize{text-transform:capitalize;}
.content{ max-height: 400px;
   /* transition: max-height 0.100s ease-out;*/
    display: none;}
.slideDown{
	max-height: 400px;
	overflow: auto;
	overflow-x: hidden;
	background:#fff;
	display: block;
   /* transition: max-height 0.20s ease-in;*/
}
.category-name {font-size: 15px;margin: 10px 0px 4px 0px;}
.tech-name{display: inline-block;font-size: 13px;vertical-align: middle;}
.current-tech-info {padding: 10px 0px;position: relative;}
.current-tech-info img{display: inline-block;max-height: 18px;vertical-align: middle;max-width: 20px;}
.current-tech-info img.icon{margin-right:8px;}
.text-center{text-align: center;}
.techs-list.odd, .techs-list.even{float: left;}
.techs-list.even{width: 45%;margin-right: 20px;}
.techs-list.odd{width: 45%;margin-left: 20px;}
.sm-1{padding: .15rem .40rem;
    font-size: .575rem;
    border-radius: .2rem;}
.themes-list, .plugins-list{
    margin-left: 10px;line-height: 1.8;
}
.no-apps{
	line-height: 3.5;
    padding: 20px;
    font-size: 17px;
}
.current-tech-info a.original-site{
    position: absolute;
    top: 10px;
    right: 0px;
    display: none;
}
a.techs-list-url{
	 position: absolute;
    top: 10px;
    right: 20px;
    display: none;
}
.current-tech-info:hover a.original-site, .current-tech-info:hover a.techs-list-url{
    display: block;
}
.current-tech-info a.original-site img, .techs-list-url img{
        max-height: 14px;
}
div#even{display: table-cell;
    vertical-align: top;padding:10px 20px;}
div#odd{    display: table-cell;vertical-align: top;padding:10px 20px;}
/*.sub-element{display: none;}*/
.sub-element{display: block;max-width: 200px;padding: 0px;}
.no-apps{line-height: 3.5;}
.border {border: 1px dashed #ddd;}
.following-sites-list{padding: 20px;}
.following-sites-list .list{padding:10px 0px;border-bottom: 1px dashed #ddd;}
.following-hostname{font-size: 18px;
    padding: 10px 0px;}
.following-sites-list .image{display: inline-block;}
.following-sites-list .app-body{padding:10px;}
.form-heading{font-size:18px;margin-bottom:20px;}
.form-bottom{margin:10px 0px;font-size:15px;}
.form-bottom a{color: blue;}
.no-padding{padding: 0px !important;}
.share-common{margin:0px 10px;}
.btn-default{background:#fff; border:1px solid #ddd;}
.share-btn{min-width:100px;}
input[readonly] {
 background-color: #dddddd;
}
.inner-addon {
    position: relative;
}
.share-email-submit{min-width:50px;}
/* style icon */
.inner-addon .fa {
  position: absolute;
  top:5px;
  padding: 10px;
  pointer-events: none;
}
.invalid-domain{
	    width: 82%;
}
/* align icon */
.left-addon .fa  { left:  0px;}
.right-addon .fa { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }
h4, .share-url-heading{font-size: 18px;
    margin-bottom: 20px;}
.share-url-original{font-size:16px;}
.inline{display: inline-block;}
.following-sites-list .image img {max-width: 25px;}
.newtab-text{padding: 40px;
    font-size: 16px;}
.share-url img{max-width:17px !important;top:3px !important;}
.unfollow{margin-left: 10px;position: relative;top: -2px;}
.btn-gray{background-color: #ccc7c7;border:1px solid #ccc7c7;color:#fff;}
.border-bottom-green{border-bottom: 5px solid green;}
.footer{ display: table;width: 100%;padding: 10px 0px 5px 0px;}
.footer p{     margin: 0px;
    padding-bottom: 0px;
    text-align: right;
    margin-right: 6px;}
.footer img{max-height: 50px;
    max-width: 140px;
    margin-top: 3px;}
