/*
 * Separates tags by relationships, characters, categories, etc.
 * Based on the [By Line](https://archiveofourown.org/skins/431) skin by Branch.
 *
 * Assumes the parent skin is "Reversi" flavored, though it probably won't cause problems
 * with most other parent skins.
 */

/*
 * Since we're separating out the tag categories anyway,
 * we don't need relationship tags to have a background.
 */
.relationships a.tag {
	background: none;
}

ul.tags li.warnings:first-child a::before {
	content: "Archive Warning: ";
	color: #fff;
	font-weight: bold;
}

li.warnings + li.relationships a::before {
	content: "Relationships: ";
	color: #eee;
	font-weight: bold;
}

li.relationships + li.characters a::before {
	content: "Characters: ";
	color: #eee;
	font-weight: bold;
}

li.characters + li.freeforms a::before {
	content: "Freeform: ";
	color: #eee;
	font-weight: bold;
}

li.warnings + li.characters a::before {
	content: "Characters: ";
	color: #eee;
	font-weight: bold;
}

li.warnings + li.freeforms a::before {
	content: "Freeform: ";
	color: #eee;
	font-weight: bold;
}

li.relationships + li.freeforms a::before {
	content: "Freeform: ";
	color: #eee;
	font-weight: bold;
}

li.warnings + li.relationships::before,
li.relationships + li.characters::before,
li.characters + li.freeforms::before {
	display: table;
	/* Non-`none` content is needed or display: table won't create a line break. */
	content: "";

	/* And add just a lil' bit of vertical margin for each tag category. */
	margin-bottom: 0.7em;
}


/*
 * Okay, now for the commas. We want to remove the last comma for each tag category.
 */
.commas.tags li.warnings:has(+ li.relationships)::after,
.commas.tags li.relationships:has(+ li.characters)::after,
.commas.tags li.characters:has(+ li.freeforms)::after {
	content: none !important;
}


/*
 * Override reversi's margin for the tags list, so there's not large line breaks
 * between each tag.
 */
ul.tags li {
	margin: 0.1em 0;
}

/*
 * But put some margins back for the tags area as a whole, so the description has
 * nice separation from the tags.
 */
ul.tags.commas {
	margin-left: 0.5em;
}
ul.tags {
	margin-bottom: 0.8em;
}
