# vim: filetype=udevrules
# Elgato HD60 S+
ACTION=="add", KERNEL=="video[0-9]*", SUBSYSTEM=="video4linux", ATTRS{idVendor}=="0fd9", ATTRS{idProduct}=="006a", SYMLINK+="video-elgato-hd60s-$attr{index}", TAG+="systemd"
ACTION=="add", SUBSYSTEM=="usb", DRIVER=="usbhid", ATTRS{idVendor}=="0fd9", ATTRS{idProduct}=="006a", TAG+="systemd", ENV{SYSTEMD_WANTS}+="ffcap-elgato.service", ENV{SYSTEMD_USER_WANTS}+="loopback-elgato.service"

